// заголовщк
@mixin h2 {
  text-transform: uppercase;
  color: $base-primary;
  margin: 0;
  font-family: $montserrat-bold;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.05em;// растягивает текст
}

@mixin slogan {
  margin: 0;
  font-size: 24px;
  line-height: 36px;
  font-family: $montserrat-bold;
}

// кнопка
@mixin button {
  font-size: 16px;
  line-height: 24px;
  padding: 8px 20px;
  color: $base-white;
  background-color: $base-primary;
  border-radius: 4px;
}

// списки опций
@mixin options {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0;
  margin-bottom: 30px;
}
