/* здесь используйте глобальные переменные */

// шрифты
$montserrat-regular: "Montserrat Regular", "Arial", sans-serif;
$montserrat-medium: "Montserrat Medium", "Arial", sans-serif;
$montserrat-semi-bold: "Montserrat Semi Bold", "Arial", sans-serif;
$montserrat-bold: "Montserrat Bold", "Arial", sans-serif;

$mobile: 320px;
$mobile-only: 767px;
$tablet: 768px;
$desktop: 1440px;
