/* здесь используйте глобальные переменные */

// шрифты
$montserrat-regular: "Montserrat Regular", "Arial", sans-serif;
$montserrat-medium: "Montserrat Medium", "Arial", sans-serif;
$montserrat-semi-bold: "Montserrat Semi Bold", "Arial", sans-serif;
$montserrat-bold: "Montserrat Bold", "Arial", sans-serif;

// экран
$mobile: 320px;
$mobile-only: 767px;
$tablet: 768px;
$desktop: 1440px;

// базовые цвета
$base-white: #ffffff;
$base-black: #333333;
$base-grey: #bdbdbd;
$base-primary:#7859cf;
$base-secondary:#f0ebff;

// другие цвета
$primary-lighter: #9070fc;
$primary-darker:#593cac;
$light-grey:#e2e2e2;

// фоновые цвета
$background-grey:#f8f8f8;
$background-flat:#f3ebe1;
$background-latte:#eae6fc;
$background-espresso:#e5e6e8;
