.advantages {
  min-width: 320px;
  padding: 50px 20px 60px;
  text-align: center;

  @media (min-width: $tablet) {
    padding: 56px 30px 100px;
  }

  @media (min-width: $desktop) {
    padding: 99px 40px 120px;
  }

  &__title {
    @include h2;
    margin-bottom: 4px;
  }

  &__slogan {
    @include slogan;
    margin-bottom: 35px;

    @media (min-width: $tablet) {
      font-size: 42px;
      line-height: 64px;
      margin-bottom: 55px;
    }

    @media (min-width: $desktop) {
      margin-bottom: 70px;
    }
  }
}
