//список опцмй
.available-list {
  @include options;

  &__item {
    position: relative;
    padding-left: 35px;
  }

  &__radio {
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50px;
    background-color: $base-white;
    border: 2px solid $base-grey;
    top: 0;
    left: 1;
    cursor: pointer;
  }

  &__input[type="radio"]:checked + &__radio {
    border: 2px solid $base-primary;
  }

  &__input[type="radio"]:checked + &__radio::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $base-primary;
    top: 2.5;
    left: 2;
  }

  &__radio:hover {
    border: 2px solid $base-primary;
  }

  &__input:not(:disabled):hover + &__radio::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: rgba(120, 89, 207, 0.25);
    top: 2;
    left: 2;
  }

  &__input:disabled ~ &__text {
    color: $base-grey;
  }

  &__input:disabled ~ &__radio {
    border: 2px solid rgba(120, 89, 207, 0.25);
  }
}
