.features {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 32px;

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr); // 2 коллонки, 2 ряда
    grid-column: 30px; // растояние между колонками
    grid-row-gap: 43px; //растояние между рядами
  }

  @media (min-width: $desktop) {
    grid-template-columns: repeat(4, 1fr); // 4 колонки, 1 ряд
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: $tablet) {
      flex-direction: row;
      gap: 20px;
    }

    @media (min-width: $desktop) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__item::before {
    content: "";
    width: 52px;
    height: 56px;
    flex-shrink: 0;
    display: block;

    @media (min-width: $tablet) {
      margin: 8px 0 0;
    }
  }

  &__item--watch::before {
    background-image: url("../../icons/stack.svg#watch");
    background-size: 52px 56px;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__item--confort::before {
    background-image: url("../../icons/stack.svg#confort");
    background-size: 52px 56px;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__item--cheerfulness::before {
    background-image: url("../../icons/stack.svg#cheerfulness");
    background-size: 52px 56px;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__item--ecology::before {
    background-image: url("../../icons/stack.svg#ecology");
    background-size: 52px 56px;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__wrapper {
    @media (min-width: $tablet) {
      text-align: left;
    }

    @media (min-width: $desktop) {
      text-align: center;
    }
  }

  &__title {
    font-family: $montserrat-bold;
    font-size: 18px;
    line-height: 32px;
    margin: 0;
    margin-top: 6px;

    @media (min-width: $tablet) {
      font-size: 24px;
      line-height: 36px;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    margin-top: 4px;

    @media (min-width: $tablet) {
      font-size: 16px;
      line-height: 24px;
      margin-top: 10px;
    }
  }
}
