.main-nav {
  margin: 0;

  &__wrapper {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  &__toggle {
    position: absolute;
    top: 0;
    right: 0;
  }

  &--closed .main-nav__toggle {
    mask-image: url("../../icons/stack.svg#buger");
    background-color: #000000;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 16px 16px;
    padding: 30px;
    border: none;
    cursor: pointer;
  }
}
