.main-nav {
  display: flex;

  &__slogan {
    display: none;

    @media (min-width: $desktop) {
      display: flex;
      align-items: center;
      font-family: $montserrat-regular;
      margin: 0;
      max-width: 126px;
      font-size: 12px;
      line-height: 16px;
      margin-left: 20px;
    }
  }
}
