.main-nav {
  margin: 0;

  &--closed .site-list {
    @media (max-width: $mobile-only) {
      display: none;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  &__toggle {
    position: absolute;
    top: 0;
    right: 0;
  }
  // состояние кнопки при закрытом меню(показываем решотку)
  &--closed .main-nav__toggle {
    background-image: url("../../icons/stack.svg#buger");
    background-repeat: no-repeat;
    background-position: center;
    background-color: $base-white;
    background-size: 16px 16px;
    padding: 30px;
    border: none;
    cursor: pointer;

    &:active {
      background-color: $base-secondary;
    }
  }
  // состояние кнопки при открытом меню(показываем крестик)
  &--opened .main-nav__toggle {
    background-image: url("../../icons/stack.svg#cross");
    background-repeat: no-repeat;
    background-position: center;
    background-color: $base-white;
    background-size: 16px 16px;
    padding: 30px;
    border: none;
    cursor: pointer;
  }
}
// при нерабочем JS отключаем изображение кнопки
.main-nav--nojs .main-nav__toggle {
  display: none;
}
// при нерабочем JS открываем(показываем) меню
.main-nav--nojs .site-list {
  display: block;
}
