.site-list {
  display: none;

  @media (min-width: $tablet) {
    margin: 0;
    padding: 0;
    max-width: 400px;
    display: flex;
    flex-wrap: wrap;

    &__item {
      display: block;
      text-align: center;
      padding: 32px 22px;
      font-size: 12px;
      line-height: 16px;
    }

    &__link {
      display: block;
      color: $base-black;
      text-transform: uppercase;
    }

    &__item--active {
      color: $base-primary;
      border-bottom: 2px solid $base-primary;
    }
  }

  @media (min-width: $desktop) {
    margin-right: 60px;
    max-width: 535px;

    &__item {
      max-width: 130px;
    }
  }
}
