
.slider {
  width: 100%;
  // список новинок
  &__list {
    padding: 0;
  }
  // навинка
  &__item {
    padding: 20px 20px 0;
    min-width: 320px;
    text-align: center;

    @media (min-width: $desktop) {
      padding: 30px 80px 84px 105px;
    }
  }

  &__item--flat {
    background-color: $background-flat;

    @media (min-width: $tablet) {
      background: linear-gradient(180deg, $background-flat 77%, transparent 50%);
    }

    @media (min-width: $desktop) {
      background-color: $background-flat;
    }
  }

  &__item--latte {
    background-color: $background-latte;

    @media (min-width: $tablet) {
      background: linear-gradient(180deg, $background-latte 77%, transparent 50%);
    }

    @media (min-width: $desktop) {
      background-color: $background-latte;
    }
  }

  &__item--espresso {
    background-color: $background-espresso;

    @media (min-width: $tablet) {
      background: linear-gradient(180deg, $background-espresso 77%, transparent 50%);
    }

    @media (min-width: $desktop) {
      background-color: $background-espresso;
    }
  }

  &__item-inner {
    @media (min-width: $tablet) {
      display: flex;
      flex-direction: column-reverse;
    }

    @media (min-width: $desktop) {
      flex-direction: row;
      //justify-content: space-between;
      gap: 30px;
    }
  }
  // блок с харастеристиками новинки
  &__card-wrapper {
    padding-bottom: 60px;

    @media (min-width: $tablet) {
      padding-bottom: 20px;
    }

    @media (min-width: $desktop) {
      text-align: left;
      padding-top: 108px;
    }
  }

  &__badge {
    display: block;
    font-weight: 700;
    text-transform: uppercase;
    color: $base-primary;
    margin-top: 6px;
    margin-bottom: 4px;
    letter-spacing: 0.06em; // растягивает текст

    @media (min-width: $tablet) {
      margin-top: 39px;
    }
  }

  &__title {
    font-family: $montserrat-bold;
    max-width: 280px;
    font-size: 36px;
    line-height: 48px;
    margin: 0 auto 10px;
    letter-spacing: 0.02em; // растягивает текст

    @media (min-width: $tablet) {
      max-width: 610px;
      font-size: 56px;
      line-height: 80px;
      margin-bottom: 16px;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    margin-bottom: 20px;

    @media (min-width: $tablet) {
      max-width: 600px;
      font-size: 20px;
      line-height: 32px;
      margin: 0 auto 20px;
    }
  }
  // блок с ценами и кнопкой
  &__buy {
    display: flex;
    padding: 0 25px;
    justify-content: center;
    align-items: center;
    gap: 23px;

    @media (min-width: $desktop) {
      justify-content: normal;
      padding: 0;
      margin-top: 40px;
    }
  }
  // блок с ценами
  &__price-wrapper {
    display: flex;
    gap: 8px;
  }

  &__old-price {
    font-size: 16px;
    line-height: 32px;
    color: $base-primary;
    text-decoration: line-through;
  }

  &__price {
    font-family: $montserrat-semi-bold;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.04em;
  }

  &__button {
    @include button;
  }
}
