.slider {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  // карточка товара(слайд)
  &__list {
    margin: 0 auto;
    padding: 0 20px;
    background-color: $flat-white;
  }

  &__item img {
    display: block;
    margin: 0;
    padding-top: 20px;
  }

  &__description-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }

  &__badge {
    display: block;
    font-family: $montserrat-bold;
    color: $base-primary;
    text-transform: uppercase;
    margin-bottom: 4px;
  }

  &__title {
    margin: 0;
    font-family: $montserrat-bold;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    margin-bottom: 10px;
  }

  &__text {
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
  }

  &__buy {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-top: 20px;
    margin-bottom: 60px;
  }

  &__price-wrapper {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    max-width: 115px;
    gap: 9px;
  }

  &__old-price {
    display: block;
    font-size: 16px;
    line-height: 22px;
    color: $base-primary;
    text-decoration: line-through;
  }

  &__price {
    display: block;
    font-family: $montserrat-semi-bold;
    font-size: 20px;
    line-height: 32px;
  }

  &__button {
    width: 114px;
    font-family: $montserrat-regular;
    font-size: 16px;
    line-height: 22px;
    padding: 9px 20px;
    background-color: $base-primary;
    color: $base-white;
    border-radius: 4px;
    text-align: center;
    border: none;
    cursor: pointer;
  }

  // блок управления слайдами
  &__arrows {
    position: absolute;
    width: 320px;
    display: flex;
    height: 100%;
    justify-content: space-between;
  }

  &__arrow {
    padding: 0;
    margin: 0;
    border: 0;
    width: 20px;
    background-color: transparent;

    &--left::after {
      content: "";
      display: block;
      width: 20px;
      height: 20px;
      background-color: $base-primary;
      mask-image: url("../../icons/stack.svg#arrow-left");
      background-position: center;
    }

    &--right::after {
      content: "";
      display: block;
      width: 20px;
      height: 20px;
      background-color: $base-primary;
      mask-image: url("../../icons/stack.svg#arrow-right");
      background-position: center;
    }

    &:focus,
    &:hover {
      background: linear-gradient(90deg, $base-white 0%, rgba(255, 255, 255, 0) 100%);
    }

    &:active {
      background: linear-gradient(90deg, rgba(120, 89, 207, 0.25) 0%, rgba(120, 89, 207, 0) 100%);
    }

    &:disabled {
      &::after {
        background-color: $base-white;
      }
    }
  }
}
