.user-list {
  position: absolute;
  top: 0;
  right: 60;
  display: flex;
  margin: 0;

  @media (min-width: $tablet) {
    position: static;
    margin-left: 60px;
  }

  &__link {
    display: block;
    padding: 22px;
  }

  &__link-text {
    display: none;
  }
}
