.user-list {
  position: absolute;
  top: 0;
  right: 60;
  margin: 0;
  padding: 0;
  width: 120px;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet) {
    position: static;
    margin-left: 39px;
  }

  @media (min-width: $desktop) {
    justify-content: flex-end;
    width: 300px;
    gap: 19px;
  }


  &__link {
    display: block;
    padding: 22px;
    margin: 0;

    @media (min-width: $tablet) {
      padding: 31px 22px;
    }

    @media (min-width: $desktop) {
      display: flex;
      gap: 8px;
    }
  }

  &__link-text {
    display: none;

    @media (min-width: $desktop) {
      display: block;
      font-family: $montserrat-medium;
      font-size: 12px;
      line-height: 16px;
      text-transform: uppercase;
    }
  }
}
