.user-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet) {
    margin-left: 60px;
  }

  @media (min-width: $desktop) {
    min-width: 260px;

    &__item {
      min-width: 130px;
    }
  }

  @media (min-width: $desktop) {
    margin-left: 62px;
  }

  &__link {
    padding: 22px;
    display: flex;

    @media (min-width: $tablet) {
      padding-top: 32px;
      padding-bottom: 32px;
    }

    @media (min-width: $desktop) {
      display: flex;
    }
  }

  &__link-text {
    display: none;

    @media (min-width: $desktop) {
      display: block;
      font-size: 12px;
      line-height: 16px;
      text-transform: uppercase;
      margin-left: 8px;
      color: $base-black;
    }
  }

  &__toggle {
    padding: 22px;
    border: none;
    background-color: $base-white;

    @media (min-width: $tablet) {
      display: none;
    }
  }
}
